a {
	text-decoration: none;
}

body {
	margin: 0;
	display: flex;
	font-family: Arial;
	background: #fafafa;
	flex-direction: column;
}

header {
	height: 39px;
	display: flex;
	font-size: 14px;
	justify-content: center;
	background-color: #2d2d2d;
}

#grid {
	width: 86.1%;
	display: flex;
	padding-top: 5px;
	justify-content: space-between;
}

#start {
	padding-top: 6px;
	display: inline-flex;
}

.link {
	cursor: pointer;
}

.delimeter {
	margin: 0 5px;	
}

#end  a{
	color: #ccc;
	padding: 0.75em;
	font-size: 0.85em;
}

#profile {
	width: 126px;
	display: inline-flex;
}

main {
	flex: 1;
	display: flex;
	width: 73.6em;
	margin: 2em auto;
}

p {
	color: #d4693f;
	font-size: 1.8em;
	
}

footer {
	display: flex;
	height: 6.875em;
	padding-top: 0.75em;
	justify-content: center;
	border-top: 1px solid #ccc;
}

footer span {
	margin-right: 1.5em;
}

footer p {
	color: #666;
	font-size: 0.69em;
	margin: 0;
}

footer a {
	font-size: 0.75em;
	margin-right: 1em;
	color: #0070CC;
}

#phones {
	margin-top: 0.2em;
	margin-left: 0.5em;
}